@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/breakpoints';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/mixins';

.trend-page-container {
  min-height: 90vh;
}

.header {
  font-size: map-get($map: $font-sizes, $key: 'extra-large');
  font-family: 'Rozha One', serif;
  text-align: center;
  margin-bottom: 10px;
}

.selector {
  :global(.ant-select-selector) {
    min-width: 100px;
    border: 1px solid $purple600;
  }
}

.wordcloud-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; /* for single line flex container */
  align-content: center; /* for multi-line flex container */
  min-height: 400px;
  padding: 15px;
  border: 1px solid $purple600;
  border-radius: map-get($map: $border-radiuses, $key: 'xs');
}
