$purple600: #3f3697;
$purple300: #344fa1;
$purple200: rgba(52, 79, 161, 0.85);

$cyan600: #3d84b8;

$gray300: #a3a3a3;
$gray200: #c4c4c4;
$white0: #ffffff;

$dark0: #ffffff;
$dark100: #ffffffd9;

$red400: #cb3131;
$green300: #49a54f;