$font-sizes: (
  small: 10px,
  regular: 14px,
  medium: 20px,
  extra-medium: 24px,
  large: 32px,
  extra-large: 36px,
  super-large: 50px,
);

$border-radiuses: (
  sm: 10px,
  md: 15px,
  lg: 20px,
);

$header-height: 54px;
