@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Radio Canada', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-back-top-content {
  background-color: #3f3697;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #3f3697;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #3f3697;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #3f3697;
}
