@import '../styles/abstracts/measures';

.container {
  min-height: 90vh;
  padding: 10px;
}

.header {
  font-size: map-get($map: $font-sizes, $key: 'extra-large');
  font-family: 'Rozha One', serif;
  text-align: center;
  margin-bottom: 10px;
}

.container-article {
  margin-bottom: map-get($map: $spacings, $key: 'md');
}

.read-more-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
