.article-card {
  box-sizing: border-box;
  // width: 703px;
  // height: 128px;
  padding: 15px;
  border: 1px solid #3d84b8;
  display: flex;
  gap: 20px;
  // text-align: justify;
}

.article-date {
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #a3a3a3;
}

.article-statistics {
  margin-top: 18px;
  display: flex;
  gap: 30px;
}

.article-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.article-views,
.article-questions {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #3d84b8;
}

.article-views-content,
.article-questions-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.article-views-icon {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: #3d84b8;
}

.article-questions-icon {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #3d84b8;
}

.middle {
  flex-grow: 1;
}

.thumbnail-image {
  /* width: 130px; */
  height: 80px;
  object-fit: cover;
}
