@import '../../styles/abstracts/measures';
@import '../../styles/abstracts/breakpoints';
@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/mixins';

.article-card {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid $purple600;
  border-radius: map-get($map: $border-radiuses, $key: 'xs');
  display: flex;
  gap: 20px;
  min-height: 128px;
}

.article-card:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.article-date {
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #a3a3a3;
}

.article-statistics {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .article-statistics {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.article-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.article-title:hover {
  color: $cyan600;
}

.article-preview {
  margin-top: 0;
  max-width: fit-content;
  color: #333333;
}

.article-views,
.article-questions {
  display: flex;
  gap: 5px;
  align-items: center;
  color: $purple600;
}

.article-views-content,
.article-questions-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.article-views-icon {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;

  display: flex;
  align-items: center;

  color: $purple600;
}

.article-questions-icon {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: $purple600;
}

.middle {
  flex-grow: 1;
}

.thumbnail-image {
  height: 108px;
  object-fit: cover;
  width: 100%;
}
